$default-blue: #313567;
$default-orange: #DC6E2D;

$h1-border-gray: #C4C4C4;
$h3-p-gray: #555555;

$background-gray: #F6F6F6;
$top-border-gray: #E6E6E6;
$nav-li-separators-gray: #B2B2B2;
$pagination-gray: #A3A3A3;
$pagination-blue-hover: #616271;

$button-gray: #999999;